{% load my_tags %}
<div class="col-md-4">
    <div class="card mb-4 shadow-sm">

        <img src="/{{ object.image|mymedia }}" class="img-thumbnail" alt="...">

        <div class="card-body">
            <p class="card-text"> {{object.name}} </p>
            <p class="card-text"> {{object.description|slice:"100" }} </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:cart_product' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="{% url 'catalog:detail_product' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">info</a>
                    {% if perms.catalog.change_product or object.owner == user %}
                    <a href="{% url 'catalog:product_update' object.pk %}" type="button"
                        class="btn btn-sm btn-outline-secondary">Редактировать</a>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                    {% endif %}
                </div>
                <small class="text-muted">{{object.price}} БШ</small>
            </div>
        </div>
    </div>
</div>