<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Контакты</h1>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Город Т</h5>
                <p class="card-text">Телефон 9 999 888 8888</p>
                <a href="https://yandex.ru/maps/-/C2ws4eb" class="btn btn-primary">На карте</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Город М</h5>
                <p class="card-text">г. м, ул. кк у, д. 16 метро: ххх </p>
                <a href="https://yandex.ru/metro/moscow" class="btn btn-primary">На метро</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>