<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница задание 19.2</title>
</head>
<body>

<h1>HW 19.2 </h1>

<div class="card text-center">
    <div class="card-header">
        Бедин Евгений
    </div>
    <div class="card-body">
        <h5 class="card-title">Домашняя страница</h5>
        <p class="card-text">задание 19.2</p>
        <a href="/contacts" class="btn btn-primary">Контакты</a>
    </div>
    <div class="card-footer text-body-secondary">
        10/08/2023
    </div>
</div>
</body>
</html>